<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SQl2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="sqlrequest" minlength="5">
        <br>
        <button @click="sendUser()">Send</button>
        <div class="container" v-for="key of responseText">
            {{key.name}}
        </div>
    </div>
</body>

<script>
    let app = new Vue({
        el: '#app',
        data() {
            return {
                sqlrequest: '',
                responseText: '',
                title: '2'
            }
        },
        methods: {
            async sendUser() {
                let requst = JSON.stringify({
                    title: this.title,
                    name: this.sqlrequest
                })
                const response = await fetch("http://localhost:3000", {
                    method: "POST",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: requst
                })
            
                this.responseText = await response.json();
                console.log(this.responseText[0]);
            }
        }
    })
</script>
</html>