<template>
  <div class="modal" @click="hideModal">
    <div @click.stop class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "BurgMenu",
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hideModal () {
      this.$emit("update:show", false)
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 62px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  .content {
    padding: 20px;
    background: black;
    border-radius: 5px;
  }
}
</style>