<template>
  <button class="burger">
    <div class="burg-anim"></div>
    <div class="burg-anim"></div>
    <div class="burg-anim"></div>
  </button>
</template>

<script>
export default {
  name: "BurgButton"
}
</script>

<style lang="scss" scoped>
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  //border: 1px solid #2c3e50;
  border: none;
  background: black;
  border-radius: 1px;
  box-shadow: 2px 2px 4px gray;
  scale: 1.2;
  transition: 0.4s;
  padding: 5px;

  .burg-anim {
    background: white;
    height: 4px;
    width: 25px;
    margin: 2px 0px;
    border-radius: 1px;

  }
  &:hover {
    scale: 1.3;
  }
}
</style>