<template>
  <button class="nav-button">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "NavButton"
}
</script>

<style lang="scss" scoped>
.nav-button {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border: 1px solid #2c3e50;
  border-radius: 1px;
  box-shadow: 2px 2px 4px gray;
  transition: 0.4s;
  &:hover {
    scale: 1.1;
  }
}
</style>