<template>
      <div class="userItem">
        <input type="text" class="item" v-model="user.FirstName" :disabled="this.showResetbtn" size="9">
        <input type="text" class="item" v-model="user.LastName" :disabled="this.showResetbtn" size="9">
        <input type="text" class="item" v-model="user.ClassName" :disabled="this.showResetbtn" size="9">
        <nav-button @click="showReset(user.ID)" class="add-user">Редактировать</nav-button>
        <nav-button v-if="!showResetbtn" @click="this.showResetbtn = true" style="background: #4ddef3c9;">Отменить</nav-button>
        <nav-button @click="this.$emit('deleteUser', user.ID)" v-if="showResetbtn" style="background: #f3704dc9;">Удалить</nav-button>
      </div>
</template>

<script>
export default {
  name: "UserItem",
  props: {
    user: {
      type: Array,
      require: true,
      default: () => []
    }
  },
  data() {
    return {
      showResetbtn : true,
    }
  },
  methods: {
    showReset (id) {
      this.showResetbtn = false
    },
  }
}
</script>

<style lang="scss" scoped>
.userItem {
  display: flex;
  align-items: center;
  border: 1px solid #2c3e50;

  .add-user {
    background: #4ddef3c9;
    transition: 0.4s;

    &:hover {
      background: #f3704dc9;
    }
  }

  .item {
    outline: 0;
    display: flex;
    align-items: center;
    height: 36px;
    margin: 0px 10px;
    padding: 0px 10px;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 2px 2px 4px gray;
  }
}
</style>