<template>
  <div class="chatBlock">
    <div class="chat">
      <div class="heder">
        <h1>Какой-то пиздатый чатец</h1>
      </div>
      <div class="login" v-if="auth">
        <InputText v-model="userName" placeholder="User Name" />
        <InputText v-model="userFrom" placeholder="User From" />
        <Button @click="login" label="Login" style="width: 45%;" />
      </div>
      <div class="message" v-for="message in messages" :key="message" >
        {{message}}
      </div>
      <div class="msgSender" v-if="!auth" >
        <InputText v-model="userMessage" />
        <Button @click="sendMsg" label="Send"/>
      </div>
    </div>
  </div>
</template>
<script setup>
import InputText from "primevue/inputtext";
import Button from 'primevue/button';
import {onMounted, ref} from "vue";
import {subscribe, sendMessage, createRoom} from '@/api'

let userMessage = ref()
let auth = ref(true)
let messages = ref([])
let userName = ref('') // Он же URL чата
let userFrom = ref('')

onMounted(() => {

})
let sendMsg = () => {
  sendMessage(userName.value, userMessage.value, userName.value)
}

let login = async () => {
  if (userName.value !== '' && userFrom.value !== '') {
    subscribe(messages, await createRoom(userName.value, userFrom.value))
    auth.value = false
  }
}

</script>
<style lang="scss" scoped>
.chatBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;

  .chat {
    width: 50vw;
    height: 60vh;
    background: rgba(17, 17, 17, 0.7);

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
    }

    .login {
      width: 100%;
      height: 100%;
      background: #2c3e50;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;

      z-index: 5;
    }
  }
}
</style>