<template>
  <div class="data">
    <div class="heder">
      <h1>Vue.js, NodeJS, MySQL</h1>
    </div>
    <div class="main">
      <div class="request">
        <input type="text" v-model="sqlrequest" minlength="5" placeholder="SQL Request">
        <nav-button @click="sendSQL" class="add-user">Send</nav-button>
        <div class="container">
          <SelectList v-model="selectedSort" :options="[{value: 'FirstName', name: 'По имени'}, {value: 'CalssName', name: 'По групе'}]" class="test"></SelectList>
        </div>
      </div>
      <nav-button @click="showModal" class="add-user">Add User</nav-button>
      <modal v-model:show="show" v-if="show">
        <div class="modal">
          <h2>Add User</h2>
          <hr>
          <label>
            Name
            <input type="text" v-model="firstName" placeholder="FirstName" min="4" maxlength="11">
          </label>
          <label>
            Lastname
            <input type="text" v-model="lastName" placeholder="Lastname" min="4" maxlength="13">
          </label>
          <label>
            Class
            <input type="text" v-model="className" placeholder="ClassName" min="4" maxlength="7">
          </label>
          <nav-button @click="addUser" style="background: #f3704dc9;">Добавить</nav-button>
        </div>
      </modal>
    </div>
    <div class="userList">
      <div class="heder">
        <strong>ID</strong><strong>FirstName</strong><strong>Lastname</strong><strong>Class</strong>
      </div>
      <transition-group name="user-list">
        <user-item v-for="user in sortPost" :user="user" :key="user.ID" @deleteUser="deleteUser" ></user-item>
      </transition-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "database",
  data() {
    return {
      sqlrequest: '',
      selectedSort: '',
      responseText: '',
      title: '2',
      show: false,

      firstName: '',
      lastName: '',
      className: '',

      users: []
    }
  },
  methods: {
    showModal() {
      this.show = true;
    },

    async deleteUser (id) {
      console.log(id)
      let request = JSON.stringify({
        id: id
      })
      this.users = await this.sendPostRequest('delete', request);
      console.log(this.selectedSort)
    },
    async addUser () {
      let requst = JSON.stringify({
        FirstName: this.firstName,
        LastName: this.lastName,
        ClassName: this.className
      })
      this.firstName = ''; this.lastName = ''; this.className = '';
      this.users = await this.sendPostRequest('create',requst);
      this.show = false;
    },
    async sendSQL () {
      let requst = JSON.stringify({
        sql: this.sqlrequest
      })
      this.sqlrequest = ''
      this.users = await this.sendPostRequest("sql",requst);
      console.log(await this.users)
    },
    async sendPostRequest (type = '', object) {
      const response = await fetch(`http://localhost:8000/${type}`, {
        method: "POST",
        headers: {
          "Content-type": "application/json"
        },
        body: object
      })
      let responseText = await response.json();
      return responseText
    }
  },
  computed: {
    sortPost() {
      return [...this.users].sort((post1, post2) => post1[this.selectedSort]?.localeCompare(post2[this.selectedSort]))
    },
    searchAndsortPost () {
      return this.sortPost.filter(post => post.value.toLowerCase().includes(this.sqlrequest.toLowerCase()))
    }
  }
}
</script>

<style lang="scss" scoped>
.data {
  margin: 0;
  padding: 10px;

  .heder{
    padding: 5px 25px;

    h1 {
      font-family: "Mongolian Baiti";
      font-weight: 550;
    }
  }
  .userList {
    font-family: monospace;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heder {
    }
    .user-list-item {
      display: inline-block;
      margin-right: 10px;
    }
    .user-list-enter-active,
    .user-list-leave-active {
      transition: all 0.4s ease;
    }
    .user-list-enter-from,
    .user-list-leave-to {
      opacity: 0;
      transform: translateX(130px);
    }
    .user-list-move {
      transition: transform 0.8s ease;
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;;

    .add-user {
      background: #4ddef3c9;
      transition: 0.4s;

      &:hover {
        background: #f3704dc9;
      }
    }

    .request {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      input {
        height: 34px;
        max-width: 40%;
      }
      .container {
        .test {
          height: 34px;
        }
      }
    }

    .modal {
      display: flex;
      flex-direction: column;
      font-size: 1.1em;
      font-family: monospace;
      h2 {
        width: 250px;
      }
      label {
        display: flex;
        flex-direction: column;
        padding: 0;
        font-weight: bold;
        input {
          margin: 10px 0px;
          height: 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
</style>