<template>
  <div class="main">
    <header>
      <h1>Основной контейнер приложений</h1>
      <img src="">
    </header>
  </div>
</template>

<script>
export default {
  name: "MainPage"
}
</script>

<style lang="scss" scoped>
.main {
  //background: url("https://fotoobou.com/uploads/mural/10-10-2019-18-29-41.jpg");
  min-height: 2500px;
  header {
    display: flex;
    justify-content: center;

    h1 {

    }
    img {

    }
  }
}
</style>