<template>
  <div class="nav">
    <div class="logo">
      LOGO
    </div>
    <div class="pages">
      <!--
        <nav-button style="margin-left: 25px" @click="$router.push('/')" >Main</nav-button>
        <nav-button style="margin-left: 25px" @click="$router.push('/calculator')" >Calculator</nav-button>
        <nav-button style="margin-left: 25px" @click="$router.push('/database')" >DataBase</nav-button>
        <nav-button style="margin-left: 25px" @click="$router.push('/')" >Main</nav-button>
      -->
    </div>
    <div class="right">
      <div class="contacts" v-if="false">
        Контакты: +78890002289
      </div>
      <div class="modal">
        <burg-button @click="showModal" ></burg-button>
        <burg-menu v-model:show="show" v-if="show">
          <div class="pages">
            <nav-button style="margin-left: 25px" @click="$router.push('/')" >Main</nav-button>
            <nav-button style="margin-left: 25px" @click="$router.push('/calculator')" >Calculator</nav-button>
            <nav-button style="margin-left: 25px" @click="$router.push('/database')" >DataBase</nav-button>
            <nav-button style="margin-left: 25px" @click="$router.push('/')" >Main</nav-button>
            <nav-button style="margin-left: 25px" @click="$router.push('/chat')" >Chat.Jss</nav-button>
          </div>
        </burg-menu>
      </div>
    </div>
  </div>
</template>

<script>
import NavButton from "@/UI/NavButton.vue";
import Modal from "@/UI/Modal.vue";
import BurgMenu from "@/UI/BurgMenu.vue";
import BurgButton from "@/UI/BurgButton.vue";

export default {
  name: "NavMenu",
  components: {BurgButton, BurgMenu, Modal, NavButton},
  data () {
    return {
      show: false
    }
  },
  methods: {
    showModal() {
      this.show = true;
    }
  }
}
</script>

<style lang="scss" scoped>
.nav {
  box-shadow: 2px 2px 4px #4ddef3c9;
  min-height: 60px;
  border: 1px solid #2c3e50;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2%;
  position: sticky;
  top: 0;
  //background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ7ba3zWpLfXrXkUEXq1BwejKSMCD3c0uaOw&usqp=CAU");

  .logo{
    font-weight: bolder;
    font-size: 30px;
    font-family: monospace;
  }

  .right {
    display: flex;
    align-items: center;

    .modal {
      .pages {
        display: flex;
        flex-direction: column;
      }
    }
  }

}
</style>