<template>
  <div class="app">
    <nav-menu></nav-menu>
    <router-view></router-view>
  </div>
</template>
<script>
import NavMenu from "@/components/NavMenu.vue";

export default {
  components: {NavMenu}

}
</script>
<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
</style>
